<div>
    {% if request.user.is_authenticated%}        
        <div>Welcome! This is homepage. user is authenticated.</div>       
        <br><br><br>
        <div>                        
            Your Details:<br>
            - Username: {{username}}<br>
            - Email: {{email}}<br>
            - Last Login: {{last_login}}<br>                        
        </div>      
        <br><br><br>  
    {% else %}        
        <div>WARNING! unauthorized access.</div>
    {% endif %}        
</div>