<footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto px-6">
      <div class="flex flex-col md:flex-row justify-between mb-8">
        <!-- Contact Information -->
        <div class="mb-6 md:mb-0">
          <h5 class="text-lg font-semibold mb-4">Contact Us</h5>
          <!-- <p class="mb-2">1234 SaaS Street</p> -->
          <!-- <p class="mb-2">City, State, 56789</p> -->
          <p class="mb-2">Email: <a href="mailto:PythonCharmer75@gmail.com" class="text-blue-400 hover:underline">PythonCharmer75@gmail.com</a></p>
          <!-- <p>Phone: <a href="tel:+1234567890" class="text-blue-400 hover:underline">+1 (234) 567-890</a></p> -->
        </div>
  
        <!-- Navigation Links -->
        <div class="mb-6 md:mb-0">
          <h5 class="text-lg font-semibold mb-4">Navigation</h5>
          <ul>
            <li><a href="{% url 'home_page' %}" class="text-gray-400 hover:text-white">About Us</a></li>
            <li><a href="{% url 'pricing' %}" class="text-gray-400 hover:text-white">Pricing</a></li>
            <li><a href="{% url 'home_page' %}" class="text-gray-400 hover:text-white">Features</a></li>
            <li><a href="{% url 'home_page' %}" class="text-gray-400 hover:text-white">Contact</a></li>
          </ul>
        </div>
  
        <!-- Social Media Links -->
        <div class="mb-6 md:mb-0">
          <h5 class="text-lg font-semibold mb-4">Follow Us</h5>
          <div class="flex space-x-4">
            <!-- <a href="https://f" target="_blank" class="text-gray-400 hover:text-white"><i class="fab fa-facebook-f"></i></a> -->
            <a href="https://github.com/s2002mayank" target="_blank" class="text-gray-400 hover:text-white"><i class="fab fa-twitter"></i>Github</a>
            <a href="https://www.linkedin.com/in/mayank-singh-7234aa28a/" target="_blank" class="text-gray-400 hover:text-white"><i class="fab fa-linkedin-in"></i>Linkedin</a>
          </div>
        </div>
  
        <!-- Newsletter Signup -->
        <div>
          <h5 class="text-lg font-semibold mb-4">Newsletter Signup</h5>
          <form class="flex flex-col">
            <input type="email" placeholder="Enter your email" class="mb-4 px-4 py-2 rounded-lg bg-gray-800 border border-gray-700 text-white placeholder-gray-400">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300">Subscribe</button>
          </form>
        </div>
      </div>
  
      <!-- Legal Information -->
      <div class="text-center mt-8">
        <p class="text-gray-400 mb-2">
          <a href="#privacy-policy" class="hover:underline">Privacy Policy</a> | 
          <a href="#terms-of-service" class="hover:underline">Terms of Service</a>
        </p>
        <p class="text-gray-400">© SaaS.</p>
      </div>
    </div>
  </footer>
  